{% extends 'base.html' %}

{% block content %}

<div class="card p-4 shadow">

<h3>{{ form.instance.id|yesno:"Edit Customer,Add Customer" }}</h3>

<form method="POST">
    {% csrf_token %}

    <div class="mb-2">
        <label>Name</label>
        {{ form.name }}
    </div>

    <div class="mb-2">
        <label>Phone</label>
        {{ form.phone }}
    </div>

    <div class="mb-2">
        <label>Email</label>
        {{ form.email }}
    </div>

    <div class="mb-2">
        <label>Address</label>
        {{ form.address }}
    </div>

    <button class="btn btn-success mt-2">Save</button>

</form>

</div>

{% endblock %}