{% extends 'base.html' %}

{% block content %}

<div class="card p-4">

<h2>Add Product</h2>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label>Name</label>
        <input type="text" name="name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input type="number" name="price" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Stock</label>
        <input type="number" name="stock" class="form-control" required>
    </div>

    <button class="btn btn-primary">Add Product</button>

</form>

</div>

{% endblock %}