{% extends 'base.html' %}

{% block content %}

<h2 class="mb-3">Products</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price (₹)</th>
        <th>Stock</th>
    </tr>

    {% for product in products %}
    <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No products found</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}